{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Challenge</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {{ form.media.css }}
        <style>
            input, select {
                width: 100%
            }
        </style>
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h1><a href="/">DESAFIO DEV. BR MED</a></h1>
                                <h2>Lorem Ipsum</h2>
                                <p>Lorem ipsum ante torquent lobortis porta nisi aliquam justo enim placerat etiam velit,
                                    porttitor potenti lorem ut blandit semper ut consectetur lorem placerat. </p>
                                <p><a class="btn btn-secondary" href="/api/" role="button">Ver API »</a></p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <a class="btn btn-secondary" href="/swagger/" role="button">
                                        <img class="img-thumbnail" src="https://raw.githubusercontent.com/swagger-api/swagger.io/wordpress/images/assets/SWU-logo-clr.png">
                                    </a>
                                </p>
                                <p>
                                    <a class="btn btn-secondary" href="/redoc/" role="button">
                                        <img class="img-thumbnail" src="https://raw.githubusercontent.com/Redocly/redoc/master/docs/images/redoc.png">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit">
                    </form>
                    <div id="container"></div>
                </div>
            </div>
        </div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
            Highcharts.chart('container', {
                title: {
                    text: "{{ title }}",
                },
                yAxis: {
                    title: {
                        text: 'Currency Rate'
                    }
                },
                xAxis: {
                    categories: {{ date_period|safe }},
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                series: {{ series|safe }},
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ form.media.js }}
        </script>
    </body>
</html>